body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#title {
  background-color: black;
  color: white;
  margin: 0;
  height: 4rem;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

#user-info-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#user-info {
  margin: 1.5rem;
}

#edit-user-info {
  height: 15rem;
  width: 15rem;
  background-color: tan;
}

.nav-item {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  color: black;
}

.divider {
  background-color: black;
  height: .5rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.signup-form {
  width: 50%;
  align-self: center;
}

.border-black {
  border: .4rem solid black;
  border-radius: 10px;
}