body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

body {
  margin: 0;
}

#title {
  background-color: black;
  color: white;
  margin: 0;
  height: 4rem;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

#user-info-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#user-info {
  margin: 1.5rem;
}

.user-img {
  height: 10rem;
  width: 10rem;
}

.nav-item {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  color: black;
}

.divider {
  background-color: black;
  height: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.signup-form {
  width: 50%;
  align-self: center;
}

.border-black {
  border: 0.4rem solid black;
  border-radius: 10px;
}


.content {
  flex-grow: inherit;
  /*   padding: theme.spacing.unit * 3, */
  position: relative;
  left: 20%;
}

/* .drawer {
  display: flex;
  margin: auto;
  left: 50%;
} */

.form_class {
  position: relative;
  top: 20%;
  right: 20%;

/* cards styles from material-ui */
/* .card {
  minWidth: 275;
} */

.bullet {
  display: 'inline-block';
  margin: '0 2px';
  transform: 'scale(0.8)';
}

.card-title {
  margin-Bottom: 16;
  font-family: 'Oxygen', sans-serif;
  font-size: 14;
}

.pos {
  margin-Bottom: 12;
  margin-right: 50px;
  margin-left: 50px;
}
