body {
  font-family: 'Oxygen', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

body {
  margin: 0;
}

#title {
  background-color: #212121;
  color: white;
  margin: 0;
  height: 4rem;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  text-align: center;
}

#user-info-wrap {
  /* display: flex */
}

#user-info {
  justify-content: center;
  margin: 1.5rem;
}

#user-info-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sell-watch {
  margin-left: 5rem;
  margin-right: 40rem;
  margin-bottom: 3rem;
}

.error {
  color: red;
  padding: 0.5rem;
  font-size: 2rem;
}

.secondary-title {
  font-family: 'Lobster';
  text-align: center;
}

.pos-center {
  position: absolute;
  left: 25%;
  top: 50%;
}

.user-img {
  height: 10rem;
  width: 10rem;
}

.nav-item {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.7rem;
}

.divider {
  background-color: black;
  height: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.signup-form {
  width: 50%;
  align-self: center;
}

.border-black {
  border: 0.4rem solid black;
  border-radius: 10px;
}

.content {
  flex-grow: inherit;
  /*   padding: theme.spacing.unit * 3, */
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
}

.filter_form {
  width: 10%;
  height: 100%;
}

.grid-list-browse {
  width: 90%;
}

.form_class {
  position: relative;
  top: 20%;
  right: 20%;
}
.bullet {
  display: 'inline-block';
  margin: '0 2px';
  transform: 'scale(0.8)';
}

.card-title {
  margin-bottom: 16;
  font-family: 'Oxygen', sans-serif;
  font-size: 14;
}

.pos {
  margin-bottom: 12;
  margin-right: 50px;
  margin-left: 50px;
}

.user-home-header {
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
}

.watch-carousel {
  font-family: 'Oxygen', sans-serif;
  background-image: url('./carousel-bg-img.jpg');
  background-size: cover;
}

.carousel-item {
  height: 425px;
}

.carousel-img {
  margin-right: 50px;
  border-radius: 8px;
  box-shadow: 14px 14px 25px -1px rgba(0, 0, 0, 0.75);
}

.carousel-caption {
}

.carousel-title {
  font-size: 40px;
  color: white;
}

.carousel-description {
  color: white;
}

.carousel-item-inner {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  padding-left: 15%;
}

.body-container {
  margin: 1.5rem;
}

.footer-nav-item {
  color: white;
}

.nav-container {
  display: flex;
}

.footer-nav {
  display: flex;
  color: white;
}

.text-center {
  text-align: center;
}


.nav-links {
  justify-content: center;
  display: flex;
  width: 100%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: black;
  text-align: center;
}

.user-card-wrapper {
  display: flex;
  margin-top: 250px;
}

.user-card {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  max-width: 45%;
}
.user-media {
  /* flex-direction: row; */
  width: 33%;
  max-width: 600px;
  height: auto;
  padding-top: 56.25%;
}

.user-card-content {
  align-content: center;
}

.checkout-watch-div {
  padding: 15px;
}

.checkout-total-div {
  padding-top: 15px;
}

.checkout-paper {
  padding-right: 50px;
  padding-left: 50px;
}

#loader-div {
  display: flex;
  align-content: center;
  justify-content: center;
}

#watch-img {
  height: 250px;
  width: 250px;
}

#user-img {
  height: 150px;
  width: 150px;
}
